#main {
    color: white;
    background-color: rgb(136, 9, 9);
    font-size: 20pt;
    text-align: center;
    border-radius: 10px;
    border-width: 15px;
    padding: 10px;
    padding-left: 40px;
    display: flex;
    align-items: center;
}

#LOGO {
    display: flex;
    margin-left: auto;
        padding-right: 10px;
}

#logout {
    float: right;
    border-radius: 10px;
    margin-top: 5px;
    width: 70px;
    color: white;
    background-color: blue;
}

h4 + div {
    padding: 5px;
    width: 40%;
    color: white;
    background-color: rgb(204, 32, 32);
}

#deviceID {
    width: 100px;
}

#deviceRegister {
    margin: 5px;
}  

.footer-text{
    float: bottom;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    margin-bottom: 4px;
}

canvas {
      display: block;
      max-width: 100%;
      height: auto;
    }