#main {
    color: white;
    background-color: rgb(136, 9, 9);
    font-size: 20pt;
    text-align: center;
    border-radius: 10px;
    border-width: 15px;
    padding: 10px;
    padding-left: 40px;
    display: flex;
    align-items: center;
}

#LOGO {
    display: flex;
    margin-left: auto;
        padding-right: 10px;
}

#logout {
    border-radius: 10px;
    width: 100px;
    color: white;
    background-color: blue;
    position: fixed;
    top: 100px;
    right: 30px;
}
  

.footer-text{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    margin-bottom: 4px;
}